<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<h1><%= title %></h1>
<p>Welcome to our test</p>
<!-- Wrapper-->
<div id="wrapper">
    <!-- USER INFO-->
    <div id="userInfo">
        <h2>User Info</h2>
        <p><strong>Name:</strong> <span id='userInfoName'></span><br/>
            <strong>Price:</strong> <span id='userInfoAge'></span><br/>
            <strong>Description:</strong> <span id='userInfoGender'></span><br/>
            <strong>Location:</strong> <span id='userInfoLocation'></span></p>
    </div>
    <!-- /USER INFO-->

    <!-- PRODUCT LIST-->
    <h2>Product List</h2>
    <div id="userList">
        <table>
            <thead>
            <th>Name</th>
            <th>Price</th>
            <th>Delete?</th>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <!-- /USER LIST-->

    <!-- ADD USER-->
    <h2>Add User</h2>
    <div id="addUser">
        <fieldset>
            <input id="inputName" type="text" placeholder="Name"/>
            <input id="inputPrice" type="text" placeholder="Price"/><br/>
            <input id="inputDescription" type="text" placeholder="Description"/>
            <button id="btnAddUser">Add Product</button>
        </fieldset>
    </div>
    <!-- /ADD USER-->
</div>
<!-- /WRAPPER-->

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
