<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<h1><%= title %></h1>
<p>Welcome to our test</p>
<!-- Wrapper-->
<div id="wrapper">
    <!-- PRODUCT INFO-->
    <div id="productInfo">
        <h2>PRODUCT Info</h2>
        <p><strong>Name:</strong> <span id='productInfoName'></span><br/>
            <strong>Price:</strong> <span id='productInfoAge'></span><br/>
            <strong>Description:</strong> <span id='productInfoGender'></span><br/>
            <strong>Location:</strong> <span id='productInfoLocation'></span></p>
    </div>
    <!-- /PRODUCT INFO-->

    <!-- PRODUCT LIST-->
    <h2>Product List</h2>
    <div id="productList">
        <table>
            <thead>
            <th>Name</th>
            <th>Price</th>
            <th>Delete?</th>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <!-- /PRODUCT LIST-->

    <!-- ADD PRODUCT-->
    <h2>Add Product</h2>
    <div id="addProduct">
        <fieldset>
            <input id="inputName" type="text" placeholder="Name"/>
            <input id="inputPrice" type="text" placeholder="Price"/><br/>
            <input id="inputDescription" type="text" placeholder="Description"/>
            <button id="btnAddProduct">Add Product</button>
        </fieldset>
    </div>
    <!-- /ADD PRODUCT-->
</div>
<!-- /WRAPPER-->

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
